<template>
  <div id="nav" class="flex justify-end w-full">
      <router-link to="/Photo-experience"> 
          <button class="mt-5 bg-yellow-500 hover:bg-yellow-400 px-4 py-2 rounded  text-white "> Photo experience</button>
        </router-link>  <!-- créee un lien avec router-link comme href -->
      <!-- <router-link to="/about">About</router-link> -->
  </div>
   
  
  <div class="home">
    <div class="mx-14 mt-12" >
        <h1 class="text-5xl"> {{whoAmI}}</h1>
        <h1 class="text-4xl mt-1">{{metier}}</h1>
    </div>

    <div class="flex space-x-40 text-2xl mx-12 mt-12"> 
      <Information :imgSrc="numero.img" :info="numero.info"/>
      <Information :imgSrc="email.img" :info="email.info"/>
      <Information :imgSrc="naissance.img" :info="naissance.info"/>
    </div>
  <div class="mx-12 text-2xl" >
    <Information :imgSrc="adresse.img" :info="adresse.info"/>
  </div>
    
  </div>
  <div class="bg-pink-800 mr-auto ml-auto w-11/12 h-12 mt-5">
  
    <h1 class="py-3 pl-5 text-2xl text-white"> LANGUAGES INFORMATIQUES </h1>

  </div>
  <ul class="ml-32 mt-5 list-disc text-2xl">
    <li>C</li>
    <li>C++</li>
    <li>JS</li>
    <li>REACT</li>
    <li>VUE</li>
  </ul>
  <div class="bg-pink-800 mr-auto ml-auto w-11/12 h-12 mt-5 text-2xl">
  
    <h1 class="py-3 pl-5 text-white"> EXPÉRIENCE PROFESSIONNELLE </h1>

  </div>
  
   
    <div v-for="exp in experience" :key="exp.lieu">

    <div class=" mt-5 grid grid-cols-2 w-11/12 justify-items-center">
      <h1 class="text-2xl"> {{exp.lieu}} | <span class="text-yellow-500">{{exp.Poste}} </span> <br> <spans class="text-xl text-zinc-400">{{exp.Date}} </spans>  </h1>
      <ul class="list-disc text-xl">
          <li class="">
              {{exp.Description}}
          </li>
      </ul>
    </div>
  
  </div>
  <div class="bg-pink-800 mr-auto ml-auto w-11/12 h-12 mt-5 text-2xl">
  
    <h1 class="py-3 pl-5 text-white"> FORMATION </h1>

  </div>

  <div class="flex space-x-96 text-2xl justify-center mt-5">

    <h1> 2020 – 2022 </h1>

    <h1> Ecole 42 <br> Etudiant à l’Ecole 42 </h1>

  </div>
  <div class="bg-pink-800 mr-auto ml-auto w-11/12 h-12 mt-5 text-2xl">
  
    <h1 class="py-3 pl-5 text-white"> LANGUES </h1>

  </div>
  <div class="mx-24 mt-5 text-2xl">
    <h1> Français : Langue maternelle </h1>
    <h1> Anglais : Débutant </h1>
  </div>

  <div class="bg-pink-800 mr-auto ml-auto w-11/12 h-12 mt-5 text-2xl">
  
    <h1 class="py-3 pl-5 text-white"> CENTRES D’INTÉRÊT </h1>

  </div>

    <ul class="ml-32 mt-5 list-disc text-2xl mb-24">
      <li> Voyager: France, Espagne, Belgique, Suisse, Maroc, Dubaï </li>
      <li> Sports: boxe thaïlandaise en compétition, football, ski </li>

    </ul>

</template>

<script>
  import Information from "./Information.vue"


export default {
  name: 'Cv',
  components: {
   Information,
  
  },

  data: function()        {
    return {
      
        whoAmI: 'Rayane QOUCHICH',
        metier: 'DEVELOPPEUR INFORMATIQUE',
        numero: {'info': '0625334167', 'img': '/src/assets/icons8-telephone-16.png'},
        email: {'info': 'rayane.qouchich@gmail.com', 'img': '/src/assets/icons8-mail-16.png'},
        naissance: {'info': '04/10/1992', 'img': '/src/assets/icons8-infant-16.png'},
        adresse: {'info': '1 allée des rosiers Gennevilliers', 'img': '/src/assets/icons8-address-16.png'},

        experience: {
            1:{
              'lieu': 'Free',
              'Poste': 'Developpeur Informatique',
              'Date': '2022 / 2023',
              'Description': 'Développeur front/back pour free'
            },
          2:{
              'lieu': 'Hopital Beaujon',
              'Poste': 'laborantin',
              'Date': '2016 / 2020',
              'Description': 'Assistance à la reception, au traitement, à l’analyse et à la saisie des résultats de tous types de prélèvements (sanguins, urinaires, …)'
            },
          3: {
              'lieu': 'Hopital Beaujon',
              'Poste': 'Brancardier',
              'Date': '2014 / 2016',
              'Description': 'Brancardage centralisé des patients . Transport des bouteille d’oxygene'
            },
          4: {
              'lieu': 'Hopital Beaujon',
              'Poste': 'Agent au bloc',
              'Date': '2012 / 2014',
              'Description': 'Aide à l’installation des patients en vue de la realisation de l’acte chirurgical Bio-nettoyage des salles d’intervention et du matériel'
            },



        5: {
              'lieu': 'L’ETRIER',
              'Poste': 'Peintre en batiment',
              'Date': '2009 / 2010',
              'Description': 'Préparation de supports, enduits, peinture Pose de revêtements'
            },
        }

      }
  },


}


</script>
