<template>
  
    <h1 class="mx-3"> <img class="float-left mt-2 mr-3" :src="imgSrc" alt="account" /> {{info}}</h1>

</template>

<script>

export default {
  name: 'Information',

  props: {
        imgSrc: String,
        info: String,
  }


}
</script>


