<template>
    <div class="flex flex-col items-center justify-center">
        <div class="  ">
            <h1 class="mt-5 text-4xl text-center "> Hopital Beaujon </h1> 
            <div class="flex space-x-4">
                
                <img class="object-cover w-3/5 mt-5"  src="../assets/Beaujon.jpg" alt="account">
                <iframe class="mt-5" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10489.48174520346!2d2.3082747!3d48.9083342!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfdad03b50e796ebe!2sH%C3%B4pital%20Beaujon%20AP-HP!5e0!3m2!1sfr!2sfr!4v1657200418848!5m2!1sfr!2sfr" width="600" height="450" style=":0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

         <div class="  ">
        <h1 class="mt-5 text-4xl text-center mt-5"> Free </h1> 
        <div class="flex space-x-4">

            <img class="object-cover w-4/5 mt-5"  src="../assets/Free.jpg" alt="account">
            <iframe class="mt-5 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.3088056928086!2d2.3214053!3d48.871389400000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fcc9b602b35%3A0x5829dd39d68093cf!2s8%20Rue%20de%20la%20Ville-l&#39;%C3%89v%C3%AAque%2C%2075008%20Paris!5e0!3m2!1sfr!2sfr!4v1657200772437!5m2!1sfr!2sfr" width="600" height="450" style=":0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
         </div>
          <div class="  b">
       <h1 class="mt-5 text-4xl text-center mt-5"> Free </h1> 
        <div class="flex space-x-4">
            <img class="object-cover w-3/5 mt-5 mb-20"  src="../assets/42.jpg" alt="account">
            <iframe class="mt-5 mb-20" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10491.943364787661!2d2.318501!3d48.896607!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4e808812dd36a382!2zw4ljb2xlIDQy!5e0!3m2!1sfr!2sfr!4v1657200625815!5m2!1sfr!2sfr" width="600" height="450" style=":0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        </div>
    </div>
    
</template>


<script>
export default {
    name: "photo"

}
</script>
