<template>
    <div class="ml-32 mt-5 flex space-x-40">
        <h1 class="text-2xl"> {{lieu}} | {{Poste}} <br> {{Dates}}  </h1>
        <ul class="list-disc text-2xl">
            <li>
                {{Description}}
            </li>
        </ul>
    </div>
</template>

<script>

export default {
  name: 'Information',

  props: {
        Description: String,
        Dates: String,
        Poste: String,
        Lieu:  String,
  }


}
</script>